module.exports = {
  development: {
    port: '3001',
    secret: 'usersecret',
    url: 'http://localhost:3001',
    siteAddress: 'http://localhost:3000',
    hashType: 'md5',
    hashKey: 'fusion',
    databaseConfig: {
      username: 'postgres',
      password: 'postgres',
      databaseName: 'fusion',
      host: '127.0.0.1',
      dialect: 'postgres',
      logging: false
    }
  },
  production: {
    port: '3001',
    secret: 'usersecret',
    url: 'http://localhost:3001',
    siteAddress: 'http://localhost:3000',
    hashType: 'md5',
    hashKey: 'fusion',
    databaseConfig: {
      username: 'postgres',
      password: 'postgres',
      databaseName: 'fusion',
      host: '127.0.0.1',
      dialect: 'postgres',
      logging: false
    }
  },
};
